* {
    font-family: 'Space Grotesk', sans-serif;
}
.wrapDiv {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff, #dfeeff, #a1e4ff, #50dce6, #10cfae);
}

* {
    transition: .2s all ease-in;
}

.login-inp {
    outline: none;
}

/* home */

.hero-wrap {
    background-image: url('./img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-blur {
    background-color: rgb(0, 0, 0, .3);
}


/* Loader */
.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading svg polyline#back {
    fill: none;
  }
  
  .loading svg polyline#front {
    fill: none;
    stroke: rgb(34 197 94);
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  
